<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><!--读取IE最新渲染-->
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>去拍房</title>
<include file="Home/Public/load"/>
</head>

<body>
<include file="Home/Public/header"/>

<section class="news_side home_side">
	<div class="news_side_list">
		<div class="transaction_info">
			<div class="transaction_info_pic">
				<img src="images/home_ban.jpg" alt="">
			</div>
			<div class="transaction_info_option">
				<div class="transaction_i_o_top">
					<img src="images/transaction_i_o_top.jpg" alt="">
				</div>
				<div class="transaction_i_o_bottom">
					<div class="transaction_i_o_b_tit">
						帮助中心
						<a href="">更多></a> 
						<div class="clear"></div>
					</div>
					<div class="transaction_i_o_b_list">
						<ul>
							<php>$help = getPageList(array('pid'=>1));</php>
							<volist name="help" id="vo">
								<li {:$vo['recommend'] == 1?'class="list_choo"':''}>
									<a href="{:U('Page/index',array('id'=>$vo['id']))}">
										<span>{$vo.tag}</span><em>{$vo.title}</em>
									</a>
									<div class="clear"></div>
								</li>
							</volist>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="service_cos">
						<a href="">
							客服专线
						</a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<article class="news_side_list_left  home_auction">
			<div class="auction_tit">
				<div class="auction_t_left">
					正在<span>竞拍</span>
				</div>
				<div class="auction_tit_num">
					<span>1</span>
					<span>8</span>
					<span>8</span>
					<span>8</span>
					<span>8</span>
					<span>8</span>
					<span>8</span>
					<em>次围观</em>
				</div>
				<div class="clear"></div>
			</div>
			<a href="" class="more_num">
				更多
				<span>888 </span>
				件 >
			</a>
			<div class="clear"></div>
			<div class="home_auction_list">
				<ul class="now_list" data-tital="">
					
				</ul>
				<div class="clear"></div>
			</div>
		</article>
		<include file="Home/Public/news_right"/>
		<div class="clear"></div>

		<div class="shooting_side">
			<h3><span>即将</span>开拍</h3>
			<div class="shooting_modular">
				<div class="shooting_modular_point">
					<div class="point2">
						
					</div>
				</div>
				<div class="shooting_prompt">
					明天开拍
				</div>
				<div class="home_auction_list_tit">
					<p>
						<b>明天</b>
						6月10日
					</p>
					<a href="">
						更多 <em>888</em> 件 >
					</a>
					<div class="clear"></div>
				</div>
				<ul class="tomorrow_list">
					
				</ul>
				<div class="clear"></div>
			</div>
			
			<div class="shooting_modular">
				<div class="shooting_modular_point">
					<div class="point2 point3">
						
					</div>
				</div>
				<div class="shooting_prompt shooting_prompt2">
					明天开拍
				</div>
				<div class="home_auction_list_tit home_auction_list_tit2">
					<p>
						<b>明天</b>
						6月11日
					</p>
					<a href="">
						更多 <em>888</em> 件 >
					</a>
					<div class="clear"></div>
				</div>
				<ul class="tomorrow2_list" data-total="">
					
				</ul>
				<div class="clear"></div>
			</div>
		</div>

		<div class="ashooting_side_end">
			<div class="ashooting_side_end_tit">
				<h3><span>竞拍</span>已结束</h3>
				<a href="">更多 888 件 ></a>
				<div class="clear"></div>
			</div>
			<div class="shooting_modular ashooting_side_end_list">
				<ul class="end_list" data-total="">
					
				</ul>
				<div class="clear"></div>
			</div>
		</div>

	</div>
	
</section>

<include file="Home/Public/footer"/>
<!--add js-->
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.flexslider').flexslider({
			directionNav: true,
			pauseOnAction: false
		});
	});
</script>
<!--add js-->
<script id="storyTemplate" type="text/html">
    {{each list as value key}}
    <li>
		<a href="{{value.linkurl}}">
			<figure>
				<img src="{{value.image}}" alt="">
				<figcaption>
					<div class="shelves_info home_auction_list_info">
						<h4>{{value.title}}</h4>
						<p><span>当前价</span><b>¥ {{value.current_price}}万</b></p>
						<p><span>评估价</span>  ¥{{value.evaluate_price}} 万 &nbsp;&nbsp;&nbsp;&nbsp; <span>出价数</span>{{value.bid_count}}次</p>
						<p><span>预 计</span>  <em>{{value.endtime_yearmonth}}</em><em>{{value.endtime_time}}</em>结束</p>
					</div>
					<div class="hali_num">
						<dl>
							<dd>
								<span>{{value.onlook}}</span>次围观
							</dd>
							<dd>
								<span>{{value.bond_count}}</span>次报名
							</dd>
							<div class="clear"></div>
						</dl>
					</div>
			</figure>
		</a>
		<div class="home_auction_list_move">
			{{if value.sale_type == 1}}
			<div class="col_t_l col_t_left2">
				<i  class="iconfont">&#xe79b;</i>一口价
			</div>
			{{/if}}
			<div class="collect_auction {{value.is_collection?'current':''}}" data-status="{{value.is_collection}}" onclick="collection(this,{{value.id}})">
				<i class="iconfont">&#xe604;</i>
			</div>
			<div class="clear"></div>
		</div>
		<div class="conducts_tip conducts_tip2">
			{{if value.status == 1}}
				<img src="images/soon.png" alt="">
			{{/if}}
			{{if value.status == 2}}
				<img src="images/conduct.png" alt="">
			{{/if}}
			{{if value.status == 3}}
				<img src="images/over.png" alt="">
			{{/if}}
		</div>
	</li>
    {{/each}}
</script>
<script type="text/javascript">
    var ajax_url = "{:U('Subject/ajax_list')}";
    loadMore("status:2","now_list");
    loadMore("status:1,start_time:tomorrow","tomorrow_list");
    loadMore("status:1,start_time:tomorrow2","tomorrow2_list");
    loadMore("status:3","end_list");
    function loadMore(data,classname){
    	$.get(ajax_url,{ajax:data},function(result){
    		//console.log(result.data);
    		var count = $("."+classname).data('total',result.data.count);
    		if(result.data.list){
    			$("."+classname).append(template("storyTemplate", {
                    list: result.data.list
                }));
    		}
    	},'json')
    }
    //收藏
	function collection(obj,s_id){
	    var status = $(obj).data('status');
	    console.log(status);
	    $.get("{:U('Subject/turnUrl')}",{
	        action:'collection',
	        s_id:s_id,
	        status:status
	    },function(result){
	        console.log(result);
	        if(result.status == 1){
	            layer.msg(result.msg,{icon:6},function(){
	                if(status == 0){
	                    $(obj).addClass('current').data('status',1);
	                }else{
	                    $(obj).removeClass('current').data('status',0);
	                }
	            });
	        }else if(result.status == 2){
	        	layer.msg(result.msg,{icon:5},function(){
	        		$('.sign_side3').fadeIn();
	        	});
	    	}else{
	            layer.msg(result.msg,{icon:5});
	        }
	    },'json');
	}
</script>
</body>
</html>
