@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.3.0');
  src: url('fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@charset "utf-8";html{background:#fff;color:#000}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px \5b8b\4f53,arial,sans-serif}
body,html{width:100%;height:100%;font-family:"微软雅黑",arial,sans-serif;background-color:#000;position:relative;overflow-x:hidden;overflow-y:auto}
html{-o-overflow-style:-o-autohiding-scrollbar;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;-moz-overflow-scrolling:touch;-o-overflow-scrolling:touch;overflow-scrolling:touch}
img{border:0;display:inline-block;max-width:100%;vertical-align:middle}
input,select,textarea{font-size:100%;font-family:"微软雅黑";line-height:20px;display:inline-block;outline:0}
input:focus,select:focus,textarea:focus{}
button{background:0 0;border:none;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:none}
iframe{display:block}
abbr,acronym{border:none;font-variant:normal}
del{text-decoration:line-through}
i{font-style:normal}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{color:#000;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
a:hover{text-decoration:none}
a,ins{text-decoration:none}
a:focus{outline:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1}
.clear{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden}
.hide{display:none}
.block{display:block}

.pt-page-delay180{-webkit-animation-delay:.18s;-moz-animation-delay:.18s;animation-delay:.18s}
.content_current{visibility:visible;z-index:5;opacity:1}
.container{height:100%;width:100%;position:relative;right:0;padding-right:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1200px;-moz-perspective:1200px;perspective:1200px}
.container.open{right:40px}
section{width:100%;height:100%;background-color:#ccc;background-position:center;-webkit-background-size:cover;background-size:cover;position:absolute;top:0;left:0;visibility:hidden;overflow:hidden;opacity:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;display:table;table-layout:fixed}
section .wrap{display:table-cell;vertical-align:middle;width:100%;height:100%}
section:first-child{background-color:#000;display:block}
section:nth-child(4){background-color:#000;display:block}
section:nth-child(6){background-color:#525252}
section:nth-child(7){background-color:#1f2428}

.copyright{position:fixed;left:30px;bottom:28px;color:#6d7680;z-index:9;font-family:Arial;font-weight:900;width:calc(100% - 230px)}
.copyright a{font-size:12px;font-weight:400;color:#6d7680;}
.copyright .txt1{font-size:16px;margin-bottom:6px}
.copyright .txt2{font-size:12px;font-weight:400;text-transform:uppercase}


.banner-rotate .banner-img{background:0 0;width:100%;height:100%;position:absolute;z-index:9}
.banner-rotate .banner-img .item{position:absolute;display:block;width:100%;height:100%;-webkit-backface-visibility:hidden;-webkit-transform:rotate(0) scale(0);-moz-transform:rotate(0) scale(0);-o-transform:rotate(0) scale(0);transform:rotate(0) scale(0)}
.banner-rotate .banner-img .rotate1{background:url(../images/1.png) center no-repeat;background-size:cover}
.banner-rotate .banner-img .rotate2{background:url(../images/2.png) center no-repeat;background-size:cover}
.banner-rotate .banner-img .rotate3{background:url(../images/3.png) center no-repeat;background-size:cover}
.banner-rotate .banner-img .rotate4{background:url(../images/4.png) center no-repeat;background-size:cover}
@media only screen and (min-width:1400px){.banner-rotate .banner-img{left:50%;top:50%;margin-left:-700px;margin-top:-700px;width:1440px;height:1440px}
}
.circleScale .item{-webkit-animation:scale 1.5s cubic-bezier(.55,1.2,.68,1.2) forwards;-moz-animation:scale 1.5s cubic-bezier(.55,1.2,.68,1.2) forwards;-o-animation:scale 1.5s cubic-bezier(.55,1.2,.68,1.2) forwards;animation:scale 1.5s cubic-bezier(.55,1.2,.68,1.2) forwards}
@-webkit-keyframes scale{0%{-webkit-transform:rotate(0) scale(0)}
70%{-webkit-transform:rotate(240deg) scale(1)}
100%{-webkit-transform:rotate(360deg) scale(1)}
}
@-o-keyframes scale{0%{-o-transform:rotate(0) scale(0)}
70%{-o-transform:rotate(240deg) scale(1)}
100%{-o-transform:rotate(360deg) scale(1)}
}
@-moz-keyframes scale{0%{-moz-transform:rotate(0) scale(0)}
70%{-moz-transform:rotate(240deg) scale(1)}
100%{-moz-transform:rotate(360deg) scale(1)}
}
@keyframes scale{0%{transform:rotate(0) scale(0)}
70%{transform:rotate(240deg) scale(1)}
100%{transform:rotate(360deg) scale(1)}
}
.circleScale .rotate1{-webkit-animation-delay:.1s;-moz-animation-delay:.1s;-o-animation-delay:.1s;animation-delay:.1s}
.circleScale .rotate2{-webkit-animation-delay:.4s;-moz-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s}
.circleScale .rotate3{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s}
.circleScale .rotate4{-webkit-animation-delay:.7s;-moz-animation-delay:.7s;-o-animation-delay:.7s;animation-delay:.7s}
.circleRotate .item{-webkit-transform:rotate(0) scale(1);-moz-transform:rotate(0) scale(1);-o-transform:rotate(0) scale(1);transform:rotate(0) scale(1)}
.circleRotate .rotate1,.circleRotate .rotate3{-webkit-animation:RotateA 3.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite;-moz-animation:RotateA 3.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite;-o-animation:RotateA 3.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite;animation:RotateA 3.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite}
.circleRotate .rotate2,.circleRotate .rotate4{-webkit-animation:RotateB 5.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite;-moz-animation:RotateB 5.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite;-o-animation:RotateB 5.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite;animation:RotateB 5.5s cubic-bezier(.55,1.2,.68,1.2) alternate infinite}
@-webkit-keyframes RotateA{0%{-webkit-transform:rotate(0)}
30%{-webkit-transform:rotate(45deg)}
80%{-webkit-transform:rotate(45deg)}
100%{-webkit-transform:rotate(-20deg)}
}
@-o-keyframes RotateA{0%{-o-transform:rotate(0)}
30%{-o-transform:rotate(45deg)}
80%{-o-transform:rotate(45deg)}
100%{-o-transform:rotate(-20deg)}
}
@-moz-keyframes RotateA{0%{-moz-transform:rotate(0)}
30%{-moz-transform:rotate(45deg)}
80%{-moz-transform:rotate(45deg)}
100%{-moz-transform:rotate(-20deg)}
}
@keyframes RotateA{0%{transform:rotate(0)}
30%{transform:rotate(45deg)}
80%{transform:rotate(45deg)}
100%{transform:rotate(-20deg)}
}
@-webkit-keyframes RotateB{0%{-webkit-transform:rotate(0)}
30%{-webkit-transform:rotate(-25deg)}
80%{-webkit-transform:rotate(-25deg)}
100%{-webkit-transform:rotate(75deg)}
}
@-o-keyframes RotateB{0%{-o-transform:rotate(0)}
30%{-o-transform:rotate(-25deg)}
80%{-o-transform:rotate(-25deg)}
100%{-o-transform:rotate(75deg)}
}
@-moz-keyframes RotateB{0%{-moz-transform:rotate(0)}
30%{-moz-transform:rotate(-25deg)}
80%{-moz-transform:rotate(-25deg)}
100%{-moz-transform:rotate(75deg)}
}
@keyframes RotateB{0%{transform:rotate(0)}
30%{transform:rotate(-25deg)}
80%{transform:rotate(-25deg)}
100%{transform:rotate(75deg)}
}

.logo_font{
    position: fixed;
z-index: 999;
top:20%;
left:50%;
margin-left:-200px;
margin-top:27px;
}
.login{
position: fixed;
top:34%;
left:50%;
z-index: 999;
width: 290px;
height:339px;
background:rgba(29,29,30,.5);
border:1px solid #787878;
margin-left: -145px;
}
.login_con{
padding-top:34px;
width:227px;
margin:0 auto;
}
.login_con h3{
  font-family: "STSong";
  font-size:18px;
color:#fff;
text-align: center;
-webkit-text-shadow: 2px 2px 2px #333;
text-shadow: 2px 2px 2px #333;

}
.login li{
margin:16px 0;
border:1px solid #525253;
vertical-align: middle;
line-height:45px;
width:224px;
height:45px;
background: rgba(0,0,0,0.5);
}
.login li:first-child{
margin-top:20px;
}
.login li div{
width: 54px;
height:45px;
text-align: center;
border-right:1px solid #333;
display: inline-block;
*display: inline;
*zoom:1;
line-height:45px;
}
.login li div img{
display: inherit;
vertical-align: middle;
}
.login li input{
color:#949494;
font-size:18px;
width:159px;
line-height:45px;
height:45px;
padding-left:10px;
vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom:1;
background:none;
}
.login li input.sdm{
display: inline-block;
*zoom:1;
*display: inline;
border:1px solid #525253;
line-height:45px;
width:98px;
background: rgba(0,0,0,0.5);
height:45px;
}
.huanpic{
  display: inline-block;
*zoom:1;
*display: inline;
margin-left:10px;
width: 100px;
height: 45px;
}
.login li input.login_button{
  width:224px;
height:40px;
background:url(../images/login_19.jpg) no-repeat;
}
.login li.login_end{
  width:224px;
  height:40px;
  background:url(../images/login_19.jpg) no-repeat center top;
border:none;
background-size:100%;
  margin-top:15px;
}
.btn_login{
  width:224px;
  height:40px;
  background:url(../images/login_19.jpg) no-repeat center top;

background-size:100%;
	font-family: "微軟正黑體",Microsoft JhengHei,"微軟雅黑體",Microsoft YaHei,SimHei,"新細明體", Arial,Verdana,Helvetica,sans-serif;
	display: block;
	width: 224px;
	line-height: 40px;
height:40px;
	font-size: 16px;
	text-align: center;
	color: #fff;

}
