<include file="Public/header"/>
<script src="__PUBLIC__/js/citys.js" type="text/javascript"></script>
<div class="layui-tab-brief main-tab-container">
    <ul class="layui-tab-title main-tab-title">
      <a href="{:U('index')}"><li>列表</li></a>
      <a href="{:U('edit')}"><li class="layui-this">添加 / 编辑</li></a>
      <div class="main-tab-item">标的管理</div>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <form class="layui-form">
          <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
              <li class="layui-this">基本设置</li>
              <li>图册设置</li>
              <li>权利人基本情况</li>
              <li>房屋基本情况</li>
              <li>房地产状况</li>
              <li>出售设置</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">
                {:Form::input('text','title',$info['title'],'标题','','','require')}
                {:Form::editor('content',$info['content'],'内容')}
                {:Form::input('text','seo_title',$info['seo_title'],'SEO标题','','','require')}
                {:Form::textarea('seo_keywords', $info['seo_keywords'], 'SEO关键词', '（设置页面关键词，留空表示继承上级栏目设置！建议在多个关键词之间以英文逗号","分隔，并且最好不要超过100个字符！如：软件开发,网站建设）')}
                {:Form::textarea('seo_description', $info['seo_description'], 'SEO描述', '（设置页面描述，建议不要超过200个字符！）')}
              </div>
              <div class="layui-tab-item">  
                {:Form::upload('image', $info['image'], '标的列表图', '')}
                {:Form::upload('album', $info['album'], '标的相册', '','album',1,$building_position)}
                {:Form::textarea('video', $info['video'], '视频', '（视频地址链接）')}
                <div class="layui-form-item">
                  <label class="layui-form-label">二维码</label>
                  <div class="layui-input-inline input-custom-width input-custom-text">
                    <div class="layui-input-inline">
                      <img src="{$info.qrcode|default='__PUBLIC__/images/100x100.png'}" alt="">
                    </div>
                  </div>
                  <div class="layui-form-mid layui-word-aux"></div>
                </div>
              </div>
              <div class="layui-tab-item">
                <div class="layui-form-item">
                  <label class="layui-form-label">权利人类型：</label>
                  <div class="layui-input-inline input-custom-width">
                    {$info.owner_type}
                  </div>
                  <div class="layui-form-mid layui-word-aux"></div>
                </div>
                {:Form::select2('owner_type',$info['owner_type'],'权利人类型','',$certificate_type)}
                {:Form::input('text','owner_name',$info['owner_name'],'权利人','','','')}
                {:Form::input('text','ID_number',$info['ID_number'],'身份证号','','','')}
              </div>
              <div class="layui-tab-item">
                {:Form::select('building_type',$info['building_type'],'房屋类型','',$building_type,'name')}
                <div class="layui-form-item">
                  <label class="layui-form-label">房地产坐落</label>
                  <div class="layui-input-inline input-custom-width input-custom-text layui-address">
                    <div class="layui-input-inline">
                      <select name="province" lay-filter="province">
                        <option></option>
                      </select>
                    </div>
                    <div class="layui-input-inline">
                      <select name="city" lay-filter="city">
                        <option></option>
                      </select>
                    </div>
                    <div class="layui-input-inline">
                      <select name="area" lay-filter="area">
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-form-mid layui-word-aux"></div>
                </div>
                {:Form::input('text','address',$info['address'],'详细地址','','','')}
                {:Form::select2('certificate_type',$info['certificate_type'],'权利证书类型','',$certificate_type)}
                {:Form::input('text','certificate_number',$info['certificate_number'],'权利证书号码','','','')}
                {:Form::upload('certificate_album', $info['certificate_album'], '权利证书相册', '','products',1,'1:正面,2:反面')}
              </div>
              <div class="layui-tab-item">
                {:Form::input('text','total_floor',$info['total_floor'],'总层','','','')}
                {:Form::input('text','seat_floor',$info['seat_floor'],'所在层','','','')}
                {:Form::input('text','building_area',$info['building_area'],'建筑面积','','','')}
                {:Form::select2('property_nature',$info['property_nature'],'不动产性质','',$web_property)}
                {:Form::select2('building_nature',$info['building_nature'],'房屋性质','',$web_property)}
                {:Form::select2('land_nature',$info['land_nature'],'土地性质','',$web_land)}
              </div>
              <div class="layui-tab-item">
                {:Form::radio('status',array($info['status'],1),'竞拍状态','（1即将竞拍，2正在竞拍，3已结束）',array(1=>'即将竞拍',2=>'正在竞拍',3=>'已结束'))}
                {:Form::radio('is_shelves',array($info['is_shelves'],0),'是否上架','（0下架，1上架）',array(0=>'下架',1=>'上架'))}
                {:Form::radio('is_examine',array($info['is_examine'],0),'审核','（0审核中，1审核通过，2审核未通过）',array(0=>'审核中',1=>'审核通过',2=>'审核未通过'))}
                {:Form::radio('sale_type',array($info['sale_type'],1),'出售方式','',array(1=>'竞价方式出售',2=>'一口价方式出售'))}
                {:Form::input('text','begin_price',$info['begin_price'],'起拍价','(数字)','数字','')}
                {:Form::input('text','begin_price_capital',$info['begin_price_capital'],'起拍价','(中文汉字大写)','大写','')}
                {:Form::input('text','buyout_price',$info['buyout_price'],'一口价','()','','')}
                {:Form::radio('pay_off_type',1,'交易成功收款方式','',array(1=>'购买人以全额方式支付购房款',2=>'购买方以分期方式支付购房款（首付20%-60%，尾款由银行贷款支付）'))}
                {:Form::input('text','now_price',$info['now_price'],'当前价','()','','')}
                {:Form::input('text','deposit_price',$info['deposit_price'],'保证金','()','','')}
                {:Form::input('text','assessment_price',$info['assessment_price'],'评估价','()','','')}
                {:Form::input('text','fare_price',$info['fare_price'],'加价幅度','()','','')}
                {:Form::input('text','bidding_time',$info['bidding_time'],'竞价周期','(天)','','')}
                {:Form::input('text','delay_time',$info['delay_time'],'延迟周期','(分钟)','','')}
                {:Form::input('text','first_buy',$info['first_buy'],'优先购买权','()','','')}
                {:Form::date('begin_time', $info['begin_time'], '出售起始时间', '（默认为当前时间，例：'.date('Y-m-d H:i:s',time()).'）',date('Y-m-d H:i:s'))}
                {:Form::date('end_time', $info['end_time'], '出售结束时间', '（默认为当前时间，例：'.date('Y-m-d H:i:s',time()).'）',date('Y-m-d H:i:s'))}
              </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <input type="hidden" name="id" value="{$info.id}"/>
                  <button class="layui-btn" lay-submit="" lay-filter="form_submit">保存</button>
                </div>
              </div>
            </div>
          </div>
          
        </form>
      </div>
    </div>
</div>
<script type="text/javascript">
layui.use(['element', 'form', 'layedit', 'laydate'], function(){
  var element = layui.element()
  ,form = layui.form()
  ,jq = layui.jquery
  
  //监听提交
  form.on('submit(form_submit)', function(data){
    loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
    });
    var param = data.field;
    jq.post('{:url("edit")}',param,function(data){
      if(data.status == 1){
        layer.close(loading);
        layer.msg(data.msg, {icon: 6, time: 1000}, function(){
          location.reload();//do something
        });
      }else{
        layer.close(loading);
        layer.msg(data.msg, {icon: 5, anim: 6, time: 1000});
      }
    },"json");
    return false;
  });
  pca.init('select[name=province]', 'select[name=city]', 'select[name=area]',"{$info.province}","{$info.city}","{$info.area}");
})
</script>

</body>
</html>

