<include file="Public/header"/>
<div class="layui-tab-brief main-tab-container">
    <ul class="layui-tab-title main-tab-title">
      <a href="{:U('custom_mult')}"><li>自定义多图文列表</li></a>
      <a href="{:U('custom_mult_edit')}"><li class="layui-this">添加 / 编辑多自定义图文</li></a>
      <div class="main-tab-item">自定义回复管理</div>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-left-mult">
        <iframe src="{:U('Wechat/custom_reply_all')}" frameborder="0" scrolling="auto" style="width: 100%;height: 750px;"></iframe>
      </div>
      <div class="layui-tab-item layui-show layui-right-mult">
        <form class="layui-form">
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

              <div class="mult_list" id="mult_list" data-count="0">
                <ul>
                  <volist name="info.mult_list" id="vo">
                    <li data-id="{$vo.id}">
                      <p>标题</p>
                      <img src="{$vo.image|get_img}" alt="">
                      <div class="clear"></div>
                      <a href="javascript:;">删除</a>
                      <input type="hidden" name="mult_ids[{$vo.id}]" value="{$vo.id}"/>
                    </li>
                  </volist>
                </ul>
              </div>
              
              <div class="layui-form-item">
                <label class="layui-form-label">关键词类型</label>
                <div class="layui-input-inline input-custom-width">
                  <select name="keyword_type">
                    <option value="0">顶级栏目</option>
                    <volist name="keyword_type" id="vo">
                      <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
                  </select>
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-inline input-custom-width">
                  <input type="text" name="keyword" value="{$info.keyword}" autocomplete="off" placeholder="" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline input-custom-width">
                  <input type="text" name="sort" value="{$info.sort|default=100}" autocomplete="off" placeholder="" class="layui-input">
                </div>
              </div>

            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">                
                <input type="hidden" name="id" value="{$info.id}"/>
                <input type="hidden" name="type" value="mult" />
                <button class="layui-btn" lay-submit="" lay-filter="form_submit">保存</button>
              </div>
            </div>
          </div>
          
        </form>
      </div>
      <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
layui.use(['element', 'form', 'layedit','laydate'], function(){
  var element = layui.element()
  ,form = layui.form()
  ,jq = layui.jquery;
  
  //监听提交
  form.on('submit(form_submit)', function(data){
    loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
    });
    var param = data.field;
    jq.post('{:url("custom_mult_edit")}',param,function(data){
      if(data.status == 1){
        layer.close(loading);
        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
          location.reload();//do something
        });
      }else{
        layer.close(loading);
        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
      }
    });
    return false;
  });
  
})

//微信多图文回复
function select_mult(obj,id){
  var count = $('.mult_list').data('count');
  var title = $(obj).closest('tr').find('.mult_title').text();
  var img = $(obj).closest('tr').find('.mult_img img').attr('src');
  var str = '<li data-id="'+id+'"><p>'+title+'</p><img src="'+img+'" alt=""><a href="javascript:;">删除</a><div class="clear"></div><input type="hidden" name="mult_ids['+id+']" value="'+id+'"/></li>';
  var ids = [];
  $('.mult_list ul li').each(function(){
    ids.push($(this).data('id'));
  });
  if($.inArray(id, ids) < 0){
    $('.mult_list ul').append(str);
  }
}

$(function(){
  $('#mult_list').delegate('li','mouseover',function(){
    $(this).find('a').stop().show();
  });
  $('#mult_list').delegate('li','mouseout',function(){
    $(this).find('a').stop().hide();
  });
  $('#mult_list').delegate('a','click',function(){
    $(this).closest('li').remove();
  });
})

</script>
</body>
</html>

