<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Pange_CMS-后台管理中心</title>
    <link href="__PUBLIC__/fonts/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/global.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery11.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plupload/plupload.full.min.js"></script>
	<script type="text/javascript">
	var pathswf = '__PUBLIC__/plupload/';
	</script>
	<script type="text/javascript" src="__PUBLIC__/plupload/plupload.js"></script>
	<link href="__PUBLIC__/plupload/plupload.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.dragsort-0.5.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wangeditor/css/wangEditor.min.css">
    <script type="text/javascript" src="__PUBLIC__/wangeditor/wangEditor.js"></script>
    <script src="__PUBLIC__/js/Validform_v5.3.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/form.js"></script>
</head>
<body>