<include file="public/header"/>
<form class="layui-form">
<div class="layui-tab layui-tab-brief main-tab-container" lay-filter="main-tab">
    <ul class="layui-tab-title main-tab-title">
      <volist name="group" id="vo">
        <php>$vo = explode(':',$vo)</php>
        <li {$i==1?'class="layui-this"':''} data-key="{$i}">{$vo.1}设置</li>
      </volist>
      <div class="main-tab-item">相关设置</div>
    </ul>    
    <div class="layui-tab-content {$i==1?'class="layui-show"':''}">
      <volist name="setting" id="s" key="k">
        <div class="layui-tab-item {$k==1?'layui-show':''}" data-key="{$k}">
          <volist name="s" id="vo">
            <if condition="$vo.type eq 1">
              {:Form::input('text',$vo['name'],$vo['value'],$vo['title'],$vo['remark'],'','')}
            <elseif condition="$vo.type eq 2"/>
              {:Form::textarea($vo['name'],$vo['value'],$vo['title'],$vo['remark'],'','')}
            <elseif condition="$vo.type eq 3"/>
              {:Form::radio_setting($vo['name'],$vo['value'],$vo['title'],$vo['remark'],$vo['extra'])}
            <elseif condition="$vo.type eq 4"/>
              {:Form::upload($vo['name'],$vo['value'],$vo['title'],$vo['remark'],'config')}
            </if>
          </volist>
        </div>
      </volist>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="site_base">立即提交</button>
        </div>
      </div>
    </div>
</div>
</form>
<script>
layui.use(['form', 'element'], function(){
  var element = layui.element() //Tab的切换功能，切换事件监听等，需要依赖element模块
  ,form = layui.form()
  ,jq = layui.jquery;
  //监听提交
  form.on('submit(site_base)', function(data){
    loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
    });
    var param = data.field;
    jq.post('{:url("config/setting")}',param,function(data){
      if(data.status == 1){
        layer.close(loading);
        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
          location.reload();//do something
        });
      }else{
        layer.close(loading);
        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
      }
    });
    return false;
  });
  
  //选项卡切换监听，改变iframe外层导航选项
  element.on('tab(main-tab)', function(data){
  	//console.log(data.index); //得到当前Tab的所在下标
  	var index = 1 + data.index;
  	jq('.setting_ul .layui-nav-item', window.parent.document).removeClass('layui-this');
  	jq('.setting_ul .layui-nav-item:eq('+index+')', window.parent.document).addClass('layui-this');
  });

});
</script>
<include file="public/footer"/>