<include file="Public/header"/>
<div class="layui-tab layui-tab-brief main-tab-container">
    <ul class="layui-tab-title main-tab-title">
      <a href="{:U('index')}"><li>文章列表</li></a>
      <a href="{:U('edit')}"><li>添加 / 编辑文章</li></a>
      <a href="{:U('category')}"><li class="layui-this">文章分类列表</li></a>
      <a href="{:U('category_edit')}"><li>添加 / 编辑文章分类</li></a>
      <div class="main-tab-item">文章管理</div>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
      <form class="layui-form">
        <table class="list-table tablelist" id="listTable" data-url="{:U('ajax_edit?table=category')}">
          <thead>
            <tr>
              <th width="80" onclick="checkall(this)"><input type="checkbox" class="checkbox" lay-skin="primary" /></th>
              <th>ID</th>
              <th>标题</th>
              <th>静态名</th>
              <th>模版名</th>
              <th width="60">显示</th>
              <th>排序</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          <volist name="data" id="vo">
            <tr>
              <td><input type="checkbox" value="{$vo.id}" class="checkbox" lay-skin="primary"></td>
              <td>{$vo.id}</td>
              <td>{$vo.title_show}{$vo.title|get_span=###,$vo['id'],'title'}</td>
              <td>{$vo.html|get_span=###,$vo['id'],'html'}</td>
              <td>{$vo.templete|get_span=###,$vo['id'],'templete'}</td>
              <td>{$vo.is_show|get_toggle=###,$vo['id'],'is_show'}</td>
              <td>{$vo.sort|get_span=###,$vo['id'],'sort'}</td>
              <td style="text-align: center;">
              <a href="{:U('category_edit',array('id'=>$vo['id']))}" class="layui-btn layui-btn-small" title="编辑"><i class="layui-icon"></i></a>
              <a class="layui-btn layui-btn-small layui-btn-danger del_btn" data-id="{$vo.id}" title="删除" data-name='{$vo.title}'><i class="layui-icon"></i></a>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>
      </div>
    </div>
</div>

<script type="text/javascript">
layui.use(['element', 'layer', 'form'], function(){
  var element = layui.element()
  ,jq = layui.jquery
  ,form = layui.form()
  ,laypage = layui.laypage;

  //图片预览
  jq('.list-table td .thumb').hover(function(){
    jq(this).append('<img class="thumb-show" src="'+jq(this).attr('thumb')+'" >');
  },function(){
    jq(this).find('img').remove();
  });
  //链接预览
  jq('.list-table td .link').hover(function(){
    var link = jq(this).attr('href');
    layer.tips( link, this, {
    tips: [2, '#009688'],
    time: false
  });
  },function(){
    layer.closeAll('tips');
  });

  //ajax删除
  jq('.del_btn').click(function(){
    var name = jq(this).attr('data-name');
    var id = jq(this).attr('data-id');
    layer.confirm('确定删除【'+name+'】?', function(index){
      loading = layer.load(2, {
        shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      jq.post('{:U("categoryDelete")}',{'id':id},function(data){
        if(data.status == 1){
          layer.close(loading);
          layer.msg(data.msg, {icon: 1, time: 1000}, function(){
            location.reload();//do something
          });
        }else{
          layer.close(loading);
          layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
    });
    
  });
  
})
</script>
</body>
</html>