<include file="Public/header"/>
<div class="layui-tab-brief main-tab-container">
    <ul class="layui-tab-title main-tab-title">
      <a href="{:U('index')}"><li>订单列表</li></a>
      <a href="{:U('edit')}"><li class="layui-this">查看订单</li></a>
      <div class="main-tab-item">订单管理</div>
    </ul>
    <div class="layui-tab-item layui-show">
      <div class="fill_50">
        <a class="layui-btn layui-input-fr" href="">修改订单</a>
      </div>
    </div>
    <div class="layui-tab-content">
      <div class="layui-collapse">
        <div class="layui-colla-item">
          <h2 class="layui-colla-title">基本信息</h2>
          <div class="layui-colla-content layui-show">
            <table class="layui-table">
              <thead>
                <tr>
                  <th>订单 ID:</th>
                  <th>订单号:</th>
                  <th>应付:</th>
                  <th>订单 状态:</th>
                  <th>下单时间:</th>
                </tr> 
              </thead>
              <tbody>
                <tr>
                  <td>{$base_info.id}</td>
                  <td>{$base_info.order_sn}</td>
                  <td>{$base_info.pay_price}</td>
                  <td>{$base_info.order_status|get_order_status} / {$base_info.express_status|get_order_express_status}</td>
                  <td>{$base_info.add_time|date="Y-m-d",###}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="layui-colla-item">
          <h2 class="layui-colla-title">收货信息</h2>
          <div class="layui-colla-content layui-show">
            <table class="layui-table">
              <thead>
                <tr>
                  <th>收货人:</th>
                  <th>联系方式:</th>
                  <th>地址:</th>
                  <th>邮编:</th>
                </tr> 
              </thead>
              <tbody>
                <tr>
                  <td>{$base_info.name}</td>
                  <td>{$base_info.mobile}</td>
                  <td>{$base_info.address}</td>
                  <td>{$base_info.zipcode}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="layui-colla-item">
          <h2 class="layui-colla-title">商品信息</h2>
          <div class="layui-colla-content layui-show">
            <table class="layui-table">
              <thead>
                <tr>
                  <th>商品id:</th>
                  <th>商品名称:</th>
                  <th>货号:</th>
                  <th>图片:</th>
                  <th>数量:</th>
                  <th>市场价:</th>
                  <th>折扣:</th>
                  <th>当前价:</th>
                  <th>单品小计:</th>
                  <th>操作:</th>
                </tr>
              </thead>
              <tbody>
                <volist name="products_info" id="vo">
                  <tr>
                    <td>{$vo.pro_id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.sn}</td>
                    <td><img src="{$vo.img}" alt="" width="80" height="80"></td>
                    <td>{$vo.number}</td>
                    <td>{$vo.market_price}</td>
                    <td>{:$vo['discount']==''?$vo['before_discount']:'<strike>'.$vo['before_discount'].'</strike>'} {$vo.discount} </td>
                    <td>{$vo.price}</td>
                    <td>{$vo.total_price}</td>
                    <td><i class="fa fa-edit" onclick="layer_show('价格调整','{:U('Order/editPrice',array('order_info_id'=>$vo['id']))}')"></i></td>
                  </tr>
                </volist>
                <tr>
                  <td colspan="8" style="text-align: right;">小计:</td>
                  <td colspan="2">{$base_info.total_price}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="layui-colla-item">
          <h2 class="layui-colla-title">操作信息</h2>
          <div class="layui-colla-content layui-show">
            <table class="layui-table">
              <form class="layui-form">
              <tbody>
                <tr>
                  <td width="100">操作备注:</td>
                  <td>
                    <textarea name="remark" id="remark" class="layui-textarea"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>可执行操作:</td>
                  <td>
                    <input type="hidden" id="order_id" name="order_id" value="{$base_info.id}"/>
                    <if condition="$base_info.order_status eq 1">
                      <button class="layui-btn" data-status="3" data-desc="确认订单" lay-submit="" lay-filter="order_status_submit">确认订单</button>
                    </if>
                    <if condition="$base_info.order_status eq 3">
                      <a href="javascript:;" class="layui-btn" onclick="layer_show('发货','{:U('Order/express',array('id'=>$base_info['id']))}')">去发货</a>
                    </if>
                    <if condition="$base_info.order_status eq 4">
                      <button class="layui-btn" data-status="5" data-desc="确认收货" lay-submit="" lay-filter="order_status_submit">确认收货</button>
                    </if>
                    <if condition="$base_info.order_status neq 5">
                      <button class="layui-btn" data-status="0" data-desc="无效" lay-submit="" lay-filter="order_status_submit">无效</button>
                    </if>
                  </td>
                </tr>
              </tbody>
              </form>
            </table>
          </div>
        </div>

        <div class="layui-colla-item">
          <h2 class="layui-colla-title">操作记录</h2>
          <div class="layui-colla-content layui-show">
            <table class="layui-table">
              <thead>
                <tr>
                  <th>操作者:</th>
                  <th>操作时间:</th>
                  <th>订单状态:</th>
                  <th>发货状态:</th>
                  <th>描述:</th>
                  <th>备注:</th>
                </tr> 
              </thead>
              <tbody>
                <volist name="log_list" id="vo">
                  <tr>
                    <td>{$vo.operator}</td>
                    <td>{$vo.time|date="Y-m-d",###}</td>
                    <td>{$vo.order_status|get_order_status}</td>
                    <td>{$vo.express_status|get_order_express_status}</td>
                    <td>{$vo.desc}</td>
                    <td>{$vo.remark}</td>
                  </tr>
                </volist>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
</div>
<script type="text/javascript">
layui.use(['element', 'form', 'layedit'], function(){
  var element = layui.element()
  ,form = layui.form()
  ,jq = layui.jquery;

  //监听提交
  form.on('submit(order_status_submit)', function(data){
    loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
    });
    var order_id = $('#order_id').val(),
        remark = $('#remark').val(),
        status = $(this).data('status'),
        desc = $(this).data('desc');
    jq.post('{:U("status")}',{order_id:order_id,remark:remark,status:status,desc:desc},function(data){
      if(data.status == 1){
        layer.close(loading);
        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
          location.reload();//do something
        });
      }else{
        layer.close(loading);
        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
      }
    });
    return false;
  });
  
})

</script>
</body>
</html>

