<include file="Public/header"/>
<div class="layui-tab-brief main-tab-container">
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <form class="layui-form">
            {:Form::input('text','id',$info['id'],'id','','','',true)}
            {:Form::input('text','title',$info['title'],'商品名称','','','',true)}
            {:Form::input('text','number',$info['number'],'数量','','','',true)}
            {:Form::input('text','market_price',$info['market_price'],'市场价','','','',true)}
            {:Form::input('text','discount',$info['discount'],'折扣','（修改折扣）','','')}
            {:Form::input('text','price',$info['price'],'当前价','','','')}
            {:Form::input('text','total_price',$info['total_price'],'小计','','','',true)}
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="form_submit">保存</button>
          </div>
          
        </form>
      </div>
    </div>
</div>
<script type="text/javascript">
layui.use(['element', 'form', 'layedit'], function(){
  var element = layui.element()
  ,form = layui.form()
  ,jq = layui.jquery;
  
  //监听提交
  form.on('submit(form_submit)', function(data){
    loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
    });
    var param = data.field;
    jq.post('{:U("editPrice")}',param,function(data){
      if(data.status == 1){
        layer.close(loading);
        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
          location.reload();//do something
        });
      }else{
        layer.close(loading);
        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
      }
    });
    return false;
  });

  jq('input[name="discount"]').focusout(function(){
    var market_price = parseInt($('input[name="market_price"]').val());
    var discount = parseFloat($(this).val());
    var number = parseInt($('input[name="number"]').val());
    var price = parseFloat(market_price * discount).toFixed(2);
    var total_price = parseFloat(price * number).toFixed(2);
    $('input[name="price"]').val(price);
    $('input[name="total_price"]').val(total_price);
  })

  jq('input[name="price"]').focusout(function(){
    var market_price = parseInt($('input[name="market_price"]').val());
    var price = parseFloat($(this).val());
    var number = parseInt($('input[name="number"]').val());
    var total_price = parseFloat(price * number).toFixed(2);
    $('input[name="price"]').val(price);
    $('input[name="total_price"]').val(total_price);
  })
  
})

</script>
</body>
</html>

